.html5-endscreen.ytp-player-content.videowall-endscreen.ytp-show-tiles {
  display: None;
}
/* up-End screen vids */
.ytp-player-content.ytp-iv-player-content {
  display: None;
}
/* Recommended Videos */
.style-scope.ytd-watch-next-secondary-results-renderer {
  display: None;
}
/* Comments */
#sections {
  display: None;
}
/* Home Page
[page-subtype="home"] {
  display: None;
} */

.style-scope.ytd-two-column-browse-results-renderer {
  display: None;
}
