.html5-endscreen.ytp-player-content.videowall-endscreen.ytp-show-tiles {
  display: None;
}
.ytp-player-content.ytp-iv-player-content {
  display: None;
}
.style-scope.ytd-watch-next-secondary-results-renderer {
  display: None;
}
#sections {
  display: None;
}
