/* Reddit Home Page */
.rpBJOHq2PR60pnwJlUyP0 {
    display: None;
}
/* Popular Trending Container */
#TrendingPostsContainer {
    display: None;
}
/* Reddit Live */
._2GRKD-vc7V1Y_N8mf81C73.RrzcV0hyA0BISr1eXgG9M {
    display: None;
}
